.footer {
  background-color: $color-default-dark-blue;
}

.footer__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 50px;
}

@media screen and (max-width: 980px) {
  .footer__wrap {
    flex-direction: column;
    max-width: 341px;
    margin: 0;
    margin: 0 auto;
    padding: 0;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 500px) {
  .footer__wrap {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__wrap {

    padding-left: 16px;
    padding-right: 16px;
  }
}

.footer__info {
  max-width: 257px;
}

@media screen and (max-width: 980px) {
  .footer__info {
    padding-bottom: 30px;

    order: 3;
  }
}

.footer__info-legal {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer__info-legal span {
  display: block;

  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.footer__info-copyright {
  margin: 0;
  margin-bottom: 2px;

  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.footer__info-developer {
  display: flex;
  font-size: 12px;
  line-height: 14px;

  color: $color-default-blue;
}

.footer__info-developer a {

  border-bottom: 1px solid $color-default-blue;
}

.footer__info-developer a:hover {
  opacity: 0.8;
}

.footer__info-developer a:active {
  opacity: 0.5;
}


.footer__info-developer img {
  margin-left: 2px;
  margin-right: 2px;
}

.footer__info-social {
  max-width: 341px;
  padding-top: 44px;
}

@media screen and (max-width: 980px) {
  .footer__info-social {
    padding-top: 60px;
    padding-bottom: 60px;
    order: 2;
  }
}

.footer__info-social h3 {
  margin: 0;
  margin-bottom: 29px;

  font-size: 22px;
  line-height: 26px;
}

.footer__info-social p {
  margin: 0;
  margin-bottom: 18px;

  font-size: 16px;
  line-height: 19px;
}

.footer__social-list {
  display: flex;
  margin: 0;
  margin-bottom: -15px;
  margin-right: -15px;
  padding: 0;

  list-style: none;
}

.footer__social-list li {
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer__social-list li a img:hover {
  opacity: 0.8;
}

.footer__social-list li a img:active {
  opacity: 0.5;
}

.footer__info-contacts {
  max-width: 260px;
  padding-top: 44px;
}

@media screen and (max-width: 980px) {
  .footer__info-contacts {
    order: 1;
  }
}

.footer__info-contacts h3 {
  margin: 0;

  margin-bottom: 25px;

  font-size: 22px;
  line-height: 26px;
}

.footer__phone-list {
  margin: 0;
  margin-bottom: -9px;
  padding: 0;

  font-size: 18px;
  line-height: 21px;

  list-style: none;
}

.footer__phone-list li {
  position: relative;

  margin-bottom: 9px;
  padding-left: 30px;
}

.footer__phone-list li::before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 20px;
  height: 24px;

  background-image: url(../img/svg/phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer__phone-list li a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.footer__phone-list li a:hover {
  opacity: 0.8;
}

.footer__phone-list li a:active {
  opacity: 0.5;
}


.footer__email-list {
  margin: 0;
  margin-top: 39px;
  margin-bottom: -9px;
  padding: 0;

  font-size: 18px;
  line-height: 21px;

  list-style: none;
}

.footer__email-list li {
  position: relative;

  padding-left: 41px;
  margin-bottom: 9px;
}

.footer__email-list li::before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 26px;
  height: 20px;

  background-image: url(../img/svg/email.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer__email-list li a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.footer__email-list li a:hover {
  opacity: 0.8;
}

.footer__email-list li a:active {
  opacity: 0.5;
}
