.tours {
  @include section;
}

@media screen and (max-width: 1023px) {
  .tours {
    margin-bottom: 60px;
    padding-bottom: 39px;
    padding-left: 3.12%;
    padding-right: 3.12%;
  }
}

@media screen and (max-width: 1334px) {
  .tours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.tours h2 {
  @include h2;
  margin-bottom: 15px;
}

@media screen and (max-width: 1023px) {
  .tours h2 {
    margin-top: 39px;

    font-size: 26px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .tours h2 {
    font-size: 24px;
  }
}

.tours p {
  margin: 0;
  margin-bottom: 60px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .tours p {
    margin-bottom: 30px;
  }
}

.tours__content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -6.25%;
  margin-right: -6.25%;
}

@media screen and (max-width: 1334px) {
  .tours__content {
    max-width: 750px;
  }
}

@media screen and (max-width: 782px) {
  .tours__content {
    max-width: 320px;
    margin-right: 0;
  }
}

.tours__card {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin-bottom: 6.25%;
  margin-right: 6.25%;
  padding-bottom: 30px;

  background-color: $color-default-dark-blue;
  border: 2px solid $color-default-blue;
}

@media screen and (max-width: 782px) {
  .tours__card {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.tours__card h3 {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 16px;
  padding-left: 22px;
  padding-right: 22px;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tours__text {
  flex-grow: 1;
  padding-bottom: 15px;

  padding-top: 25px;
  padding-left: 22px;
  padding-right: 22px;
}

.tours__card span {
  display: block;
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.tours__card p {
  margin: 0;
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 19px;

  text-align: left;
}

/* @media screen and (max-width: 782px) {
  .tours__card p {
    text-align: left;
  }
} */

.tours__btn {
  width: 168px;
  max-width: 168px;
  margin: 0 auto;
  margin-top: auto;

  border: 2px solid $color-default-blue;
}

.tours__btn:hover {
  opacity: 0.8;
}

.tours__btn:active {
  opacity: 0.5;
}

.tours__btn a {
  display: block;
  width: 168px;
  max-width: 168px;
  padding-top: 14px;
  padding-bottom: 13px;

  font-size: 17px;
  line-height: 20px;
  color: $color-default-blue;
  text-transform: uppercase;
  text-align: center;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

